body {
    background: white;
    
    
}

a, a:hover {
    color: #124364;
}

.flex-wrapper {
    flex-direction: 1;
    display: flex;
}


/**************************************************
top navbar
**************************************************/

.mainbar {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: stretch;
}

.mainbar > .tabs {
    align-self: flex-end;
    display: flex;
}

.tabs .tab {
    flex: 1;
    box-sizing: border-box;
    background: #454270;
    color: #ffffff;
    padding: 15px;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 5px 0px 4px #ccc;
    border: #dbdbdb solid 2px;
    text-align: center;
}

/**************************************************
banner
**************************************************/

.header-banner {
    align-self: stretch;
    background: url('/img/background.png') no-repeat 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 60px;
    padding-bottom: 60px;
    
}

h1.title {
    color: #ffffff;
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
}

h2.title {
    color: #acbfd3;
    font-weight: 400;
    font-size: 1.3em;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}

.search-bar {
    display: flex;
    align-items: center;
    flex-direction: row;
    align-self: center;
    max-width: 80%;
    width: 500px;
    background: #e2e3e4;
    border-radius: 50px;
    box-shadow: 5px #ffffff;
    border: #dbdbdb solid 1px;
    box-shadow: -2px -3px 0px #333;
    margin-top: 15px;
}

.search-bar input {
    flex: 1;
    border: 0px solid;
    background: transparent;
    box-shadow: none;
    margin: 0;
    padding-left: 25px;
}

.search-bar input:focus {
    outline: none;
    box-shadow: none;
}

.search-bar button {
    border: 0px solid;
    background: transparent;
    box-shadow: none;
    margin: 0;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}



/**************************************************
Links
**************************************************/

.purple-links {
    display: flex;
    background: #44426e;
    flex-direction: row;
    align-items: stretch;
}

@media(max-width: 800px) {
    .purple-links {
        flex-direction: column;
        align-items: stretch;
    }
}

a.purple-link {
    flex: 1;
    border: #000000 solid 1px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

a.purple-link img {
    width: auto;
    height: 75px;
    margin: 20px;
}

.floating-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 70px 15%;
    background: #ededed;
}

.floating-button {
    border-radius: 25px;
    border: #ffffff solid 2px;
    box-shadow: 3px 3px 5px #b4b5bf;
    flex: 1;
    margin: 0 15px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;

}

.floating-button img {
    height: 120px;
    width: auto;
    padding: 15px;
}

.floating-button-1 {
    background: #fcb816;
}

.floating-button-2 {
    background: #15c2d2;
}

.floating-button-3 {
    background: #3f4167;
}


/**************************************************
Logos
**************************************************/
.scalated {
    color: #ffffff;
    font-size: 30px;
}
.scalated img {
    width: 70%;
    max-width: auto;
    height: auto;
}

.header-image {
    display: inline;
}

.header-image img {
    padding: 8px;
}

.header-image .small img, 
.red img {
    max-width: 100px;
}


/**************************************************
showcase - icons & text
**************************************************/

.showcase {
    text-align: center;
    padding: 0 15%;
}

.showcase h1 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.showcase p {
    color: #124364;
    text-align: center;
    margin-top: 6px;
    font-size: 16px;
}

.showcase img {
    max-height: 84px;
}

.showcase button {
    background: #356e99;
    color: #ffffff;
    text-shadow: none;
    border-color: #356e99;
}

.showcase-link {
    display: block;
    height: 150px;
    width: 180px;
    margin: 0 auto;
}

.showcase-links {
    padding-top: 80px;
}

.showcase-1 {
    background: url('/img/showcase1.png') center no-repeat;
}

.showcase-2 {
    background: url('/img/showcase2.png') center no-repeat;
}

.showcase-3 {
    background: url('/img/showcase3.png') center no-repeat;
}


/***************************************
layout1
******************************************/

.layout-links {
    padding-top: 60px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 60px;
}

.layout-link {
    text-align: center;
}

.layout-link a {
    margin: 0 auto;
    display: block;
    width: 180px;
    height: 180px;
}

.layout-link-1 a {
    background: url('/img/layout-1.png') center no-repeat;
}

.layout-link-2 a {
    background: url('/img/layout-2.png') center no-repeat;
}

.layout-link-3 a {
    background: url('/img/layout-3.png') center no-repeat;
}


/**************************************************
section with background
**************************************************/

.img-background {
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    z-index: 1;
    background-image: url('/img/congreso.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.pseudo-black {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    background: rgba(0, 0, 0, 0.9);
}

.text-white {
    color: white;
}

.right-vertical-divisor {
    border-right: 2px solid gray;
    height: 100%;
}

.left-vertical-divisor {
    border-left: 2px solid gray;
    height: 100%;
}

.gradient-container .jumbotron {
    border: 2px;
    border-radius: 20px;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(200, 200, 200, 1));
    border-color: rgba(200, 200, 200, 1);
    padding-left: 12px;
    padding-right: 12px;
}

/*.png-white-to-gray {
    -webkit-filter: invert(50%);
    filter: invert(50%);
}*/

/*****************************************************
polygon 
*******************************************************/

.polygon {
    border-top: 32px solid white;
    border-left: 32px solid transparent;
    height: 0;
    width: 57%;
    margin-left: 44%;
}

.polygon-element {
    margin-left: -80%;
}

.polygon-link {
    display: inline;
    color: #000000;
    position: relative;
    background: #454270;
}

.polygon-link a {
    color: #ffffff;
    padding: 15px;
    margin-top: 50px;
}

.polygon-inverted {
    border-top: 32px solid white;
    border-right: 32px solid transparent;
    height: 0;
    width: 45%;
    margin-left: -16px;
}


/**************************************************
div with gradient
**************************************************/

.solid-white .jumbotron{
    height: 100%;
    background: white;
    color: white;
    border-radius: 0px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 0px;
}

.gradient {
    /*background: linear-gradient(red, yellow);*/
    padding-top: 24px;
    margin-bottom: 24px;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(200, 200, 200, 1));
    height: 100%;
}

/**************************************************
div with blue
**************************************************/

.solid-blue .jumbotron {
    height: 100%;
    background: #124364 url("../../../base/images/bg.png");
    color: white;
    border-radius: 0px;
    padding-left: 12px;
    padding-right: 12px;
}

.solid-blue a,
.solid-blue a:hover {
    color: white;
}

.solid-blue p {
    padding: 12px;
    padding-bottom: 24px;
    padding-top: 24px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 0px;
}

/**************************************************
Footer section
**************************************************/

.footer {
    background: rgba(0, 0, 0, 0.9);
}

.footer li, a, a:hover {
    color: #356e99;
    font-weight: bold;
}

.footer .list-unstyled {
    margin: 0;
    padding: 12px;
}

div[role=main] {
    background: white;
}

@media (min-width: 1200px) {
    div[role=main] .container {
        width: 970px;
    }
}

@media (max-width: 991px) {
    .img-background {
        background: white;
    }

    .pseudo-black {
        background: white;
    }

    .right-vertical-divisor {
        border-right: 0px;
    }

    .left-vertical-divisor {
        border-left: 0px;
    }
    .solid-blue p {
        padding-bottom: 48px;
        padding-top: 48px;
        font-size: 36px;
    }

    .showcase p {
        margin-bottom: 48px;
        font-size: 24px;
    }

    .text-white {
        color: #124364;
    }

    .gradient {
        background: #dbdbdb url("../../../base/images/bg.png");
    }

    .gradient-container .jumbotron {
        background: #dbdbdb url("../../../base/images/bg.png");
        padding-top: 64px;
    }
    
    .list-unstyled .text-right {
        text-align: left;
    }
}

@media (max-width: 768px) {
    .scalated img {
        width: 100%;
        max-width: auto;
        height: auto;
    }

    .header-image .small img,
    .red img {
        max-width: 30%;
    }
}

